<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBoxComponent -->
    <!-- onValue = Emiter de shared-search-box, searchCapital= Metodo que recibe el valor retornado del emiter
        $event = valor retornado del emiter -->
     <button *ngFor="let region of regions"
              class="btn mx-2"
              (click)="searchByRegion(region)"
              [ngClass]="{ 'btn-outline-primary': region == selectedRegion }"
              >
      {{ region }}
     </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- TableComponent -->
    <countries-country-table [countries]="countries" ></countries-country-table>
  </div>
</div>
